#bigBox {
    display: flex;
    width: 600px;
    flex-direction: column;
    margin: auto;
}

button {
    display: flex;
    width: 70px;
    margin: 5px auto;
}

/*pseduocode begins here*/

/*#container:*/
#container {
    /*flexbox*/
    display: flex;
    /*let children wrap, default is no wrap*/
    flex-wrap: wrap;
    /*flex-direction: row;*/
    flex: 0 0 6.25%; /*1/16 = 0.625*/
    /*no space between the little square boxes -- don't think I need to do anything for this (??)*/
    /*(solid black 1px border) Do I need this for the outside of the whole grid???*/
    border: solid black 1px;
    /*500*500px height*width -- adjust based on how much space this actually takes up on computer*/
    height: 600px;
    width: 600px;
}

/*.gridSquare:*/
.gridSquare {
    box-sizing: border-box;
    /*solid black 1px border -- how to make border incl in div diimensions bc I forgot*/
    border: solid black 1px;
    aspect-ratio: 1 / 1;
}