#bigBox {
    display: flex;
    width: 600px;
    flex-direction: column;
    margin: auto;
}

button {
    display: flex;
    width: 70px;
    margin: 5px auto;
}

/*pseduocode begins here*/

/*#container:*/
#container {
    /*(solid black 1px border) Do I need this for the outside of the whole grid???*/
    border: solid black 1px;
    /*500*500px height*width -- adjust based on how much space this actually takes up on computer*/
    height: 600px;
    width: 600px;
    /*flexbox*/
    display: flex;
    /*let children wrap, default is no wrap*/
    flex-wrap: wrap;
    /*no space between the little square boxes -- don't think I need to do anything for this (??)*/
}

/*.gridSquare:*/
.gridSquare {
    /*solid black 1px border -- how to make border incl in div diimensions bc I forgot*/
    border: solid black 1px;
    /*flexbox*/
    display: flex;
    /*inline (bc divs are normally blocks I think (???))*/
    display: inline-block /*not sure if I actually need this bc I'm using flexbox*/
    height = auto;
}

/*Do I even need this here???*/
/*.gridRow: idk what if anything to put here*/

/*.changeColor:*/
.changeColor {
    /*change backgroundColor to black*/
    background-color: black;
}